.profile-viewer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.row {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row .title {
  margin-right: 16px;
}

.row .data {
  align-self: flex-end;
}
